body {
    background-color: rgb(228, 225, 225);
    color:rgb(17, 18, 56);
};


.questions {
    width: 75%;
    height: 75%;
}

.start-button

button {
    background-color: rgb(146, 192, 230);
    padding: 10px; 
    display: list-item;
    
};

